* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
